.medium {
  max-width: 250px;
}

h1, h2 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

li {
  color: white;
}

p {
  color: black;
  z-index: 999;
  padding: 100px;
}
